header {

  padding: var(--spacing-md) 0;
  margin-bottom: var(--spacing-lg);
  border-bottom: 2px solid var(--color-border);
}

.nav {
    display: flex;
    align-items: center;
    gap: 600px;
   
}

.navList {
  display: flex;
  gap: var(--spacing-xs);
  flex-wrap: wrap;
}

.logo span  {
    font-size: var(--font-size-2xl);
}


.link {
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: var(--radius-md);
  text-decoration: none;
  color: var(--color-text-primary);
  font-weight: 500;
  transition: all var(--transition-fast);
}

.link:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
}

.active {
  color: white;
  background-color: var(--color-primary);
}

.active:hover {
  background-color: var(--color-primary-dark);
  color: white;
}

